<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion - Crear Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("./partials/header", { mostrarNav: true }) %>
    <main class="container">
        <h1>Agregar Nuevo Producto</h1>
        
        <form action="/admin/crearProducto" method="POST" class="form" enctype="multipart/form-data">            
            <div class="campo-form">
                <label for="nombre">Nombre del Producto:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>

            <div class="campo-form">
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" required>
            </div>

            <div class="campo-form">
                <label for="categoria">Categoría:</label>
                <select id="categoria" name="categoria" style="font-size: 18px;" required>
                    <option value="">Seleccione una categoría</option>
                    <option value="Componente">Componente</option>
                    <option value="Periferico">Periférico</option>
                </select>
            </div>

            <div class="campo-form">
                <label for="descripcion">Descripción del Producto:</label>
                <textarea id="descripcion" name="descripcion" rows="4" placeholder="Escribí los detalles técnicos aquí..."></textarea>
            </div>

            <div class="campo-form">
                <label for="imagen">Imagen del Producto:</label>
                <input type="file" id="imagen" name="imagen" accept="image/*">
            </div>
            
            <button type="submit">Guardar Producto</button>
        </form>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>