<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido - HardZone</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <h1>Bienvenido a nuestra terminal de autoservicio</h1>
        <p>Por favor, ingresá tu nombre para poder ver los productos disponibles:</p>
        
        <form action="/productos" method="GET">
            <input type="text" name="nombreCliente" placeholder="Ej. Juan Pérez" required>
            <button type="submit">Continuar</button>
        </form>
    </main>
</body>
</html>