<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login - HardZone</title>
</head>
<body>
    <%- include("./partials/header", { categorias: false, carrito: false, ventas: false, dashboard: false, logout: false }) %>

    <main class="container" style="max-width: 500px;">
        <h1>Bienvenido a nuestra terminal de autoservicio</h1>

        <form action="/categorias" method="GET" class="form" id="form-ingreso">

            <div class="campo-form">
                <label for="nombre">Por favor, ingresá tu nombre para poder ver los productos disponibles:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ej. Juan Pérez" required>
            </div>

            <div class="campo-form">
                <button type="submit" style="background-color: #007bff">Continuar</button>
            </div>

        </form>

        <p style="text-align: center; margin-top: 20px;">
            Si sos un administrador, <a href="/login" style="color: #007bff; text-decoration: none; font-weight: bold;">iniciá sesión aquí</a>
        </p>
    </main>

    <%- include("./partials/footer") %>

    <script>
        const formIngreso = document.getElementById('form-ingreso');
        const inputNombre = document.getElementById('nombre');

        const nombreGuardado = localStorage.getItem('nombreInvitado');

        if (nombreGuardado) {
            inputNombre.value = nombreGuardado;
        }

        formIngreso.addEventListener('submit', function() {
            localStorage.setItem('nombreInvitado', inputNombre.value);
        });
    </script>
</body>
</html>