<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoservicio de Hardware</title>
</head>
<body>
    <h1>¡Bienvenido al Autoservicio!</h1>
    <p>Plantilla EJS funcionando a la perfeccion.</p>
</body>
</html>