<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo - HardZone</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <h1>Catálogo de Hardware y Periféricos</h1>
        <p>Explorá nuestro stock.</p>
        
        <ul>
            <li>Auriculares HyperX Cloud 2 - (Ideal audio direccional)</li>
            <li>Memoria RAM DDR5 32GB - (Máximo rendimiento)</li>
        </ul>
    </main>
</body>
</html>