<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo - HardZone</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <h1>Catálogo de Hardware y Periféricos</h1>
        <p>Explorá nuestro stock.</p>
        
        <ul>
            <% listaProductos.forEach(producto => { %>
                <li style="margin-bottom: 15px;">
                    <strong><%= producto.nombre %></strong> - $<%= producto.precio %>
                    <br>
                    <small><%= producto.descripcion %></small>
                    <br>
                    <button type="button">Agregar al carrito</button>
                </li>
            <% }) %>
        </ul>
    </main>
</body>
</html>