<script>
    function cambiarInvitado() {
        let confirmacion = confirm("¿Querés salir y cambiar de usuario? Esto vaciará tu carrito de compras actual.");
        
        if (confirmacion){
            localStorage.removeItem("nombreInvitado");
            localStorage.removeItem("carritoHardzone");
            window.location.href = "/";
        }
    }
</script>

<script src="/js/carrito.js"></script>
<header>
    <div class="barra" id="primeraBarra">
        <p>Los mejores precios en todo el país</p>
    </div>
    
    <div class="barra" id="segundaBarra">

        <a href="#" onclick="cambiarInvitado()">
            <h2 class="logo">💻 HardZone Autoservicio</h2>
        </a>

        <% if (mostrarNav) { %>
            <nav>
                <a href="/categorias">Categorias</a>
                <a href="/carrito">Carrito</a>
                <% if(usuario){ %>
                    <a href="/admin/dashboard">Panel</a>
                    <a href="/logout">Cerrar sesión</a>
                <% } %>
            </nav>
        <% } %>

    </div>
</header>