<script>
    function cambiarInvitado() {
        let confirmacion = confirm("¿Querés salir y cambiar de usuario? Esto vaciará tu carrito de compras actual.");
        
        if (confirmacion){
            
            localStorage.removeItem("nombreInvitado");
            localStorage.removeItem("carritoHardzone");
            window.location.href = "/logout";
        }
    }
</script>

<script src="/js/carrito.js"></script>
<header>
    <div class="barra" id="primeraBarra">
        <p>Los mejores precios en todo el país</p>
    </div>
    
    <div class="barra" id="segundaBarra">

        <a href="#" onclick="cambiarInvitado()">
            <h2 class="logo">💻 HardZone Autoservicio</h2>
        </a>

        <nav>
            <% if(categorias) { %>
                <a href="/categorias" class="nav-btn" style="background: #3186d1;">Atras</a>
            <% } %>

            <% if(carrito) { %>
                <a href="/carrito" class="nav-btn" style="background: #28a745;">Finalizar</a>
            <% } %>

            <% if(ventas) { %>
                <a href="/admin/ventas" class="nav-btn" style="background: #aaa;">Ventas</a>
            <% } %>

            <% if(dashboard) { %>
                <a href="/admin/dashboard" class="nav-btn" style="background: #aaa;">Panel</a>
            <% } %>

            <% if(logout) { %>
                <a href="/logout" class="nav-btn" style="background: #e23e3e;">Cerrar sesión</a>
            <% } %>
        </nav>
    </div>
</header>