<header>
    <div>
        <h2>💻 HardZone Autoservicio</h2>
        <p><small>Desarrollado por: Juli y Mauricio</small></p>
    </div>
    
    <nav>
        <a href="/">Inicio</a> | 
        <a href="/productos">Catálogo de Productos</a> | 
        <a href="/carrito">Mi Carrito</a>
    </nav>
    <hr>
</header>